<% @house = @house || @new_house %>
<% if @house.errors.any? %>
  <%= render 'layouts/error', {obj: @house} %>
<% end %>


<h1>Add Your House here</h1>
<%= form_for(@house) do |f| %>
  <%= render 'form', {form_field: f} %>
  
  <h4> Add Room Info here: </h4>
  <%= f.fields_for :rooms do |room_form| %>
    <%= room_form.label :name %>
    <%= room_form.text_field :name %> <br/>
    <%= room_form.label :theme %>
    <%= room_form.text_field :theme %> <br/>
    <%= room_form.label "in_use" %>
    <%= room_form.check_box :use %> <br/><br/>
  <% end %>
  <%= f.submit %>
<% end %>

