<!DOCTYPE html>
<html>
  <head>
    <title>RhouseLog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if session.has_key?(:user_id) %>
      <%= link_to 'LogOut', logout_path, method: :delete %>
    <% else %>
      <%= link_to 'LogIn', login_path%>
      <%= link_to 'SignUp', users_new_path %>

    <% end%>

    <%= yield %>
  </body>
</html>
